* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(245, 246, 206);
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
.msg-nav{
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.3);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #fff;
    color: #333;
}

main {
    padding: 50px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}
.foot-par{
    margin-bottom: 0px;
}

.navLogo{
    background-color: snow;
}
.navLogo a{
    background-color: snow;
}
.navLogo a img{
    background-color: snow;
}
.navItems{
    background-color: snow;
    justify-content: end; 
}
.navItems a{
    background-color: snow;
    margin: 0 20px;
}
.navItems a img{
    background-color: snow;
}
.navItems a li{
    background-color: snow;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

textarea {
    resize: none;
}

button[type="submit"] {
    font-size: 18px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #fff;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
