* {
    margin: 0;
    padding: 0;
}

.navBar{
    width: 100%;
    background-color: snow;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    height: 12vh;
    display: flex;
    flex-direction: row;
}

.navLogo {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    /* background-color: pink; */
}

.searchBar{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding: 15px 0px 15px 250px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    
}

.search-form{
    /* scale: 2; */
    width: 100%;
    height: 100%;
    display: flex;
}
#searchbox{
    border-radius: 30px;
    width: 50%;
    height: 50%;
}
.submit-button{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: transparent;
}
.submit-search{
    height: 50%;
    width: 50%;
    background-color: transparent;
    border: transparent;
    filter: invert(100%);
}
.filter-button{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: transparent;
}
.filter-search{
    height: 50%;
    width: 50%;
    background-color: transparent;
    border: transparent;
}

.navItems{
    width: 25%;
    height: 100%;
    margin-right: 20px;
    /* background-color: palegreen; */
}
.navItems{
    width: 50% ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.navItems a{
    text-decoration: none;
    color: black;
    list-style: none;
    display: flex;
    /* background-color: aliceblue; */
}
.navItems a:hover{
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.3);
}
.navItems a li{
    padding-top: 5px;
    align-items: center;
}
.message-icon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.cart-icon{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.signin-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


/************FOOTER**************/
.footer{
    height: 490px;
    background-color: rgb(210, 210, 210);
    display: flex;
}
.footer-1{
    margin-left: 80px;
    margin-top: 40px;
    margin-right: 55px; 
}
.footer-2{
    margin-top: 40px;
    margin-right: 45px;
}
.footer-3{
    margin-top: 40px;
    margin-right: 45px;
}
.footer-4{
    margin-top: 40px;
    margin-right: 45px;
}
.foot-par{
    font-family: 'Oswald', sans-serif;
    font-size: 20px; 
    padding: 2px;
    opacity: 0.7;
}
.foot-par:hover{
    opacity: 0.9;
}
.urgadget-care-footer{
    text-decoration: none;
    color: black;
}

.UrGadget-section{
    margin-bottom: 10px;
}
.jual-section{
    margin-bottom: 10px;
}
.bantuan-section{
    margin-bottom: 10px;
}
.footer-3{
    display: flex;
    flex-direction: column;
}
.google-play{
    width: 250px;
}
.section-title{
    font-weight: bold;
    opacity: 1;
}
.section-title:hover{
    -webkit-text-stroke: 1px rgba(187, 187, 187, 0.3);
    opacity: 0.4;
}
.appstore{
    margin-left: 13px;
    width: 220px;
}
.media-fb{
    width: 45px;
}
.media-ig{
    width: 43px;
}