@font-face {
	font-family: myfont;
	src: url(/assets/genshin-font.ttf);
}

body{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
    background-color: rgb(248, 249, 222);
}

.transaction-information{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 10px;
}
.ti-left{
	display: flex;
	margin-left: 50px;
}
.ti-left a{
	text-decoration: none;
	color: black;
	padding: 5px 10px;
	margin: 0px 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}
.ti-right{
	display: flex;
	margin-right: 20px;
}
.ti-right a{
	text-decoration: none;
	color: black;
	padding: 5px;
	margin: 0px 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.promo-banner{
	background-color: white;
	margin-top: 10px;
	width: 100%;
	height: 60vh;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	display: flex;
}
.promo-left{
	width: 50%;
}
.pl-title{
	padding: 20px 10px 20px 60px;
	font-size: 40px;
}
.pl-description{
	padding-left: 60px;
	font-size: 15.5px;
}
.pl-products{
	padding-left: 60px;
	margin-top: 50px;
	display: flex;
	justify-content: space-evenly;
	
}
.plp{
	width: fit-content;
	height: fit-content;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 15px;
}
.plp h4{
	margin: -15px 0px 20px 25px;
	font-size: 13px;
}
#plp-1{
	padding: 20px;
	padding-bottom: 25px;
	width: 150px;
}
#plp-2{
	padding: 20px;
	padding-bottom: 25px;
	width: 150px;
}
.promo-right{
	width: 50%;
}
#pr-product{
	width: 600px;
	margin-left: 100px;
}
.promo-right h3{
	margin-left: 300px;
}

.promo-today{
	width: 100%;
	/* margin-top: 30px;
	margin-left: 35px; */
}

.pt-title{
	width: auto;
	padding: 20px;
}
/* .pt-title h1{
	width: 100%;
} */


.pt-product-1{
	display: flex;
	width: 100%;
	/* background-color: red; */
	/* margin-left: 20px; */
	/* margin-bottom: 40px; */
	justify-content: space-between;
}
.pt-product{
	width: 20%;
	padding: 20px 25px;
	height: max-content;
	/* padding: 20px; */
	/* margin: 0px 25px; */
}

.care-page{
	margin: 15% auto;
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: center;
	/* background-color: black; */
	align-items: center;
	/* justify-items: center; */
}

.icon-1{
	margin: 10px;
	width: 15%;
	padding: 20px 20px;
	/* background-color: red; */
	display: block;
	align-items: center;
	background: white;
	border-radius: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-1 img{
	width: 100px;
	height: 100px;
}

figure{
	display: block;
	text-align: center;
}

figcaption{
	margin-top: 10px;
	font-weight: bold;
}

.icon-2{
	margin: 10px;
	width: 15%;
	padding: 20px 20px;
	/* background-color: green; */
	display: block;
	align-items: center;
	background: white;
	border-radius: 15px;
	
}

.icon-2 img{
	width: 100px;
	height: 100px;
	
}

.icon-3{
	margin: 10px;
	width: 15%;
	padding: 20px 20px;
	/* background-color: blue; */
	display: block;
	align-items: center;
	background: white;
	border-radius: 15px;
	
}

.icon-3 img{
	width: 100px;
	height: 100px;
}


.pt-product-img{
	width: 100%;
	height: max-content;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.pt-product-img img{
	width: 60%;
	height: auto;
	padding: 10px 0 ;
}

.pt-product-desc{
	width: 100%;
}

.pt-product-name{
	width: 100%;

}

.pt-product-rating{
	width: max-content;
	padding: 0 5px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.pt-product-rating .checked{
	color: orange;
}

.pt-product:hover .pt-product-img img {
	transform: scale(0.8);
}

.pt-product .pt-product-desc {
	display: block;
}

.pt-product .pt-product-cart {
	display: none;
}

.pt-product:hover .pt-product-desc {
	display: none;
}

.pt-product:hover .pt-product-cart {
	display: block;
}

.pt-product-cart button{
	background-color: #4CAF50;
	/* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.mega-banner{
	margin-top: 50px;
}
.mega-banner img{
	width: 100%;
	
}

.review-creator{
	width: 100%;
	display: flex;
	justify-content: space-around;

}

#revCre{
	display: flex;
	padding-left: 20px;
	/* flex-direction: column; */
	font-size: 4em;

}

.review-box{
	
	width: 40%;
	padding: 20px 30px;
}
.review-box iframe{
	/* width="560" height="315" */

	width: 100%;
	height: 45vh;
	border-radius: 10px;
}